<h1> Booked Load Information: </h1>
<p>Load id: {{ bookedload.load_id }}</p>
<p>Current status: {{ bookedload.status }}</p>
<p> Driver: {{ bookedload.driver }}</p>
<p>Pickup location: {{ bookedload.pickup_location }}</p>
<p>Delivery location: {{ bookedload.delivery_location }}</p>
<p>Distance: {{ bookedload.distance }}</p>
<p>Pallets quantity: {{ bookedload.pallets_quantity }}</p>
<p>Pallets weight: {{ bookedload.pallets_weight }}</p>
<p>Dispatcher: {{ bookedload.dispatcher }}</p>
<p>Broker info: {{ bookedload.broker }}</p>
<p>Total rate: {{ bookedload.total_rate }}</p>
<p>Driver rate: {{ bookedload.driver_rate }}</p>